@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";


.logo{
    width: 30%;
}

.bg-color{
    background-color: rgb(68, 68, 68);
}
.banner{
    background-image: url("assets/ba1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}
.text{
    display: block;
    color: whitesmoke;
    text-align: right;
    width: 530px;
    
}

.boton{
    padding-bottom: 0% !important;
    padding-top: 0% !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
    font-size: 11px !important;
}

#titles{
    text-align: center;
}
/*CARDS*/
