.bg-color{
    background-color: #353A40 ;
    height: 80px !important;
}
/*CORRECCION BOOTSTRAP*/
.navbar-collapse{
    flex-grow: unset !important;
}

.logo{
    width: 27%;
}

.banner{
    background-image: url("assets/ba1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 610px;
    
}
.text{
    display: block;
    color: white;
    text-align: right;
    height: 100px;
    width: 620px;
    font-size: 17px;
    font-weight: 350;
    
    
}

.boton{
    padding-bottom: 0% !important;
    padding-top: 0% !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
    font-size: 11px !important;
}

#titles{
    text-align: center;
    margin-top: 15px;
}
/*CARDS*/
.contenedor .card{
    justify-content: space-around !important;
    

}
.btn-color{
    background-color: rgb(128, 197, 24) !important;
    color: white !important;
}


.formulario{
    text-align: center;
}
/*CORRECCION BOOTSTRAP*/
.form-check {
padding-left: 0% !important;
}

u{
    text-decoration: underline 2px dotted;
    
}

textarea{
 border: rgb(202, 201, 201) 1px solid;
 border-radius: 5px;
 font-weight: 300;

}

footer{
    margin-top: 20px;
    height: 100px;
    background: linear-gradient(90deg, rgba(28,56,69,1) 0%, rgba(30,83,114,1) 35%);
}