@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";


.logo{
    width: 30%;
}

.bg-color{
    background-color: rgb(68, 68, 68);
}
.banner{
    background-image: url("assets/ba1.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}