.testo-gris{
    color: rgb(160, 158, 158);
    font-size: 15px;
    font-weight: 250;
}
#promociones{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

form{
    left: 22.2%;
}

label{
    margin-top: 10px;
}
#div-total{
    margin-top: 30px;
    margin-left: 12px;
    height: 60px;
    width: 64.8% !important;
    background-color:cornflowerblue;
    color: darkblue;
    border-radius: 5px;
}